Add support for Unicode surrogate pairs

[JSON RFC 8259 Section 7](https://tools.ietf.org/html/rfc8259#section-7) describes rules for characters outside the BMP:

> To escape an extended character that is not in the Basic Multilingual
> Plane, the character is represented as a 12-character sequence,
> encoding the UTF-16 surrogate pair.  So, for example, a string
> containing only the G clef character (U+1D11E) may be represented as
> "\uD834\uDD1E".

This is not yet supported.